* {
  background-color:#CCE4FF;
}.header {
  display: flex;
  width: 100vw;
  height: 100px;
  background-color: #CCE4FF;
  color:#ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
h1, h4, p {
  color:#002855;
}
.date {
  padding-left: 50px;
}
.title {
  padding-left: 350px;
}
.myInput {
  padding: 20px;
  margin-left: 350px;
  background-color:#002855;
  padding-right: 200px;
  border-radius:10px;
  margin-top: 50px;
  font-size: 20px;
  color:#ffffff;
}
.myInput::placeholder {
  color:#ffffff;
}
.addButton {
  margin-left: 20px;
  padding: 20px;
  background-color:#002855;
  border-radius:10px;
  font-weight:900;
  font-size: 20px;
  color: #ffffff;
}
.list {
  margin-left: 350px;
  margin-top: 100px;
  border-radius: 12px;
  border: 2px solid #002855;

  padding:25px;
}
.todo-items td {
  align-items: center;
  border-bottom: 2px solid #002855;
  padding: 25px; 
}
img {
  width: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  background-color:#ffffff;
}
.todo-action {
  padding: 10px;
  margin-left: 25px;
  border-radius: 28%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
